@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");
/* variables de color */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap");
.container {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue; }

/* ------------------------------contactos--------------------------- */
.contactos {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 10px;
  margin: 8px 10px;
  box-sizing: border-box; }

.boton_contacto {
  text-align: center;
  padding: 2rem; }

/* ------------------------------contactos--------------------------- */
.footer {
  background-color: #141433;
  background-size: contain;
  color: aliceblue;
  text-align: center;
  width: 100%;
  border: 3px solid gray; }
  .footer ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center; }
  .footer ul :hover {
    color: blueviolet;
    cursor: pointer;
    transition: .5s; }
  .footer li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    text-transform: uppercase;
    text-decoration: none; }

/*------------------------------galeria----------------------------*/
.galeria {
  padding: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr; }

.article {
  border: 10px solid #141433;
  padding: 10px;
  margin: 10px; }

.galeria_imagenes {
  margin: 3em;
  color: black; }

/*------------------------------galeria----------------------------*/
/*------------------------------header----------------------------*/
.header {
  background-color: #141433;
  text-align: center; }
  .header .ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center; }
  .header .ul :hover {
    cursor: pointer; }
  .header .li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    text-transform: uppercase;
    display: inline;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem; }

/*------------------------------header----------------------------*/
/* ------------------------------ index main  ------------------------------ */
.bodycontenedor {
  background-color: #000026;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden; }

.textos {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  list-style-type: none; }

.index_div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px; }

/* ------------------------------ index main ------------------------------ */
/*------------------------------productos----------------------------*/
.productos {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center; }

.productos__menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100vw; }

.productos__menu {
  padding: 1rem;
  border: 1rem;
  border-radius: 1rem;
  text-transform: uppercase; }

.img__producto {
  height: 260px;
  width: 260px; }

.card-body {
  height: 160px; }

/*------------------------------productos----------------------------*/
@media (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; }
  /*------------------------------header----------------------------*/
  .header {
    color: aliceblue;
    background-color: #141433;
    background-size: contain;
    text-align: center;
    height: 10rem;
    border: 3px solid gray; }
  .header__navbar ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center; }
  .header__navbar ul :hover {
    color: blueviolet;
    cursor: pointer;
    transition: .5s; }
  .header__navbar li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    text-transform: uppercase;
    display: inline;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem; }
  /*------------------------------header----------------------------*/
  /* ------------------------------ index main  ------------------------------ */
  .bodycontenedor {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./media/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover; }
  .body__text {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2em;
    padding: 1em;
    border-radius: 2.5em; }
  .textos {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    list-style-type: none; }
  /* ------------------------------ index main ------------------------------ */
  /*------------------------------galeria----------------------------*/
  .galeria {
    padding: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .galeria_article {
    border: 10px solid #141433;
    padding: 10px;
    margin: 10px; }
  .galeria_imagenes {
    margin: 3em;
    color: black; }
  .card {
    transition: transform 500ms ease-in-out; }
  .card:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }
  /*------------------------------galeria----------------------------*/
  /*------------------------------productos----------------------------*/
  .productos {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; }
  .productos__menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100vw; }
  .productos__menu li {
    padding: 1rem;
    border: 1rem;
    border-radius: 1rem;
    text-transform: uppercase; }
  /*------------------------------productos----------------------------*/
  /* ------------------------------contactos--------------------------- */
  .contactos {
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 5em; }
  .boton_contacto {
    text-align: center;
    padding: 2rem; }
  /* ------------------------------contactos--------------------------- */
  /* --------------------------footer-------------------------- */
  .footer {
    background-color: #141433;
    background-size: contain;
    color: aliceblue;
    text-align: center;
    width: 100%;
    border: 3px solid gray; }
  .footer__menu ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center; }
  .footer__menu ul :hover {
    color: blueviolet;
    cursor: pointer;
    transition: .5s; }
  .footer__menu li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    text-transform: uppercase; }
  /* --------------------------footer-------------------------- */ }

.btn {
  --bs-btn-color: white;
  /* letra boton */
  --bs-btn-bg: #632878;
  /* background boton */
  --bs-btn-hover-bg: #2a025e;
  /* background hover boton */
  --bs-btn-border-color: #141433;
  /* border color boton */
  --bs-btn-active-bg: #141433; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto"; }

body {
  font-family: "roboto";
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./media/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "roboto"; }
