.accordion-button {
    background-image: linear-gradient(rgba(53, 14, 77, 0.85), rgba(0, 0, 0, .85));
    text-shadow: 1px 1px 2px black;
    color: $color_textcard;
}

.accordion-body {
    background-image: linear-gradient(rgba(53, 14, 77, 0.85), rgba(0, 0, 0, .85));
    text-shadow: 1px 1px 2px black;
    color: $color_textcard;
}