.btn{
    --bs-btn-color: white; /* letra boton */
    --bs-btn-bg: #632878; /* background boton */
    --bs-btn-hover-bg: #2a025e; /* background hover boton */
    --bs-btn-border-color: #141433; /* border color boton */
    --bs-btn-active-bg: #141433;
}