.footer {
    background-color: #141433;
    background-size: contain;
    color: aliceblue;
    text-align: center;
    width: 100%;
    border: 3px solid gray;
    
ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    
}


ul :hover {
    color: blueviolet;
    cursor: pointer;
    transition: .5s;
}

li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    text-transform: uppercase;
    text-decoration: none;
}
}


