/* ------------------------------ index main  ------------------------------ */

.bodycontenedor {
    background-color: $color-principal;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.textos {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    list-style-type: none;
}

.index_div {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

.neon {
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
}

.neon:nth-child(1) {
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
            0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
            0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}


/* ------------------------------ index main ------------------------------ */