@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-principal;
}


body{
    font-family: $font-principal;
    background-image: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url(./media/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: $font-principal;
}
footer{
    background-image: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85));
    background-color: $color_footer;
}

