/*------------------------------header----------------------------*/
.header {
    background-color: #141433;
    text-align: center;
    
.ul {
    padding: 1rem;
    list-style-type: none;
    text-align: center;
}
.ul :hover {
    color: blueviolet;
    cursor: pointer;
    transition: .5s;
}
.li {
    border: 1rem;
    border-radius: 1rem;
    background-color: black;
    text-transform: uppercase;
    display: inline;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
}

}




/*------------------------------header----------------------------*/